

.navbar_include{
    width: 100%;
    height: auto;
}
.navbar {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 30px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 8px 120px 8px 15px;
    border: 1px solid #ced4da;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.user-profile p {
    margin: 0 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 8px 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; 
    margin-top: 128px; 

}
.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.user-profile:hover .dropdown-content {
    display: block;
}

.cart img {
    width: 30px;
    height: 30px;
    padding : 0 30px 0 20px
}
.element-right {
    display: flex;
    align-items: center; 
}

.slider-container {
    position: relative;
    max-width: 100%;
    
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%;
}

.slider img {
    width: 100%;

}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    z-index: 2;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
.slidebg{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.slidbg img{
    height: 100%;
}